.message-err{
//message-err__wraper{}
    &__wraper{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(39, 37, 37, .9);
        z-index: 100000;
        display: flex;
        align-items: center;
        justify-content: center;

    }
//message-err__container{}
    &__container{
        width: 75%;
        height: 270px;
        border: 1px solid rgb(197, 131, 131);
        box-shadow: inset 3px 3px 55px rgb(209, 160, 160),
                    inset -3px -3px 55px rgb(209, 160, 160);
        background-color: #fff;
        transition: all 1s ease-out;
        @media (max-width:400px) {
            height: 290px;
        }
    }
//message-err__title{}
    &__title{
        text-align: center;
        font-size: 30px;
        color:rgb(97, 130, 88);
        letter-spacing: 5px;
        line-height: 140%;
        // text-shadow: 1px 1px 1px rgb(97, 130, 88),
        //             -1px -1px 1px rgb(97, 130, 88),
        //             -1px 1px 1px rgb(97, 130, 88),
        //             1px -1px 1px rgb(97, 130, 88);
    }
//message-err__content{}
    &__content{
        font-size: 16px;
        margin: 0 30px 30px;
        @media (max-width:530px) {
            margin: 5px;
            font-size: 14px;
        }
    }
//message-err__text{}
    &__text{}
//message-err__manage{}
    &__manage{
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 13px;
        position: relative;
        width: 100%;
        letter-spacing: 2px;
        @media (max-width:530px) {
            flex-direction: column;
            margin-top: 15px;
        }
    }
//message-err__aplly{}
    &__aplly{
        margin-top: 5px;
        width: 165px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 900;
        background: #000;
        transition: all .4s ease-in-out;
        padding: 0 5px;
        color: #fff;
        &:hover{
            background-color: rgb(67, 19, 51);
            color: #fff;

        }
    @media (max-width:530px) {
        position: relative;
        width: 80%;
    }
    }

//message-err__cancell{}
    &__cancell{
        margin-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 40px;
        font-weight: 900;
        background: #000;
        padding: 0 5px;
        color: #fff;
        transition: all .4s ease-in-out;
        cursor: pointer;
        &:hover{
            background-color: rgb(67, 19, 51);
            color: #fff;            
        }
    @media (max-width:530px) {
        position: relative;
        width: 80%;
    }       
    }
}