@import '../../../styles//variables/index.scss';
@import '../../../styles//fonts/index.scss';
.export {
  &__warning {
    background-color: $pil;
    padding: 16px 20px;
    color: $a2;
    @extend %text-small;
    margin-top: 20px;
    margin-bottom: 0;
  }
  &__sort {
    &_wrap {
      @include flex(sc);
      margin-bottom: 30px;
      flex-wrap: wrap;
    }
    &_counter {
      @extend %text-small;
      color: $p;
    }
  }
  &__select {
    &_top {
      border: 1px solid #f1f1f1;
      padding: 10px 30px;
      @include flex(sc);
      flex-wrap: wrap;
    }

    &_btn {
      max-width: 246px;
      min-width: 246px;
      &_icon {
        --icon-width: 20px;
        --icon-height: 20px;
        margin-right: 10px;
      }
    }
    &_middle {
      border: 1px solid #f1f1f1;
      padding: 30px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 10px;
      max-height: 1075px;
      overflow-y: auto;
      @include tablet-lg {
        grid-template-columns: repeat(5, 1fr);
      }
      @include tablet-md {
        grid-template-columns: repeat(4, 1fr);
      }
      @include mobile {
        grid-template-columns: repeat(3, 1fr);
      }
      @include mobile-lg {
        grid-template-columns: repeat(2, 1fr);
      }
      // Scrollbar styles
      // moz
      scrollbar-color: $dg $g; /* «цвет ползунка» «цвет полосы скроллбара» */
      scrollbar-width: thin;
      // webkit
      &::-webkit-scrollbar {
        width: 4px;
        background-color: $g; /* «цвет полосы скроллбара» */
      }
      &::-webkit-scrollbar-thumb {
        background-color: $dg; /* «цвет ползунка» */
      }
    }
    &_bottom {
      height: 84px;
      background-color: #faf9fa;
    }
  }
  &__card {
    max-height: 164px;
    width: 100%;
    position: relative;
    &_image {
      display: block;
      object-fit: cover;
      height: 100%;
    }
    &_checkbox {
      max-width: 20px;
      max-height: 20px;
      @include flex(lc);
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: $w;
      border-radius: 4px;
    }
  }
}
