@import '../../../styles/variables/index.scss';
@import '../../../styles/fonts/index.scss';

.ordering {
  &_main-card{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
  &__icon {
    margin-right: 10px;
  }
  &__desc {
    font-size: 12px;
    color: $p2;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &__button {
    height: 58px;
    width: 228px;
    border-radius: 2px;
    @include flex(cc);
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: $g;
    &::part(base) {
      color: $a2;
      text-transform: uppercase;
      font-weight: 700;
    }
    &:hover {
      background-color: $a2;
      &::part(base) {
        color: $w;
      }
    }
    &-active {
      cursor: default;
    }
    &-active,
    &-active:hover {
      background: $w;
      border: 2px solid $a2;
      &::part(base) {
        color: $a2;
      }
    }
    &_wrap {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
    }
  }
  &_cards {
    margin-top: 60px;
    margin-bottom: 84px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position:relative;
    @include mobile {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mobile-sm {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &_card {
    background-color: rgb(237, 234, 234);

    max-width: 780px;
    border: 1px solid $g;
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-gap: 10px;
    margin-bottom: 10px;

    @include tablet-mmd {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    
    &-left {
      @include flex(lt);
      align-items: center;
      justify-content: center;
      padding: 10px;
      @media (max-width: 420px){
      flex-direction: column;
    }
    }
    &__image {
      width: 78px;
      height: 110px;
      min-width: 120px;
      min-height: 150px;
      object-fit: cover;
      margin-right: 10px;
      padding: 2px;
      background-color: $g;
    }
    &__desc {
      // margin-top: 10px;
      // display: grid;
      // // grid-template-columns: 1fr 1fr;
      // grid-gap: 18px;
      // @include tablet-mmd{
      //   grid-template-columns: 1fr 1fr 3fr;
      // }
      // @include tablet-mmd {
      //   flex-direction: row;
      // }
    }
    &__tooltip {
      --gx-tooltip-background-color: var(--gx-color-white);
      --gx-tooltip-arrow-size: 13px;
      &::part(base) {
        font-size: 10px;
        line-height: 140%;
        color: $p;
        max-width: 210px;
        padding: 10px;
        border: 2px solid #f3eff3;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
      }
    }
    &__change {
      display: flex;
      align-items: flex-end;
      margin-bottom: -15px;
      &_text {
        font-size: 12px;
        color: $b;
      }
    }
  }
  &_comment {
    display: flex;
    flex-direction: column;
    &__field {
      background-color: $g;
      height: 100%;
      padding: 10px;
      overflow-y: auto;
      &-comment {
        max-width: 100%;
        display: block;
        word-wrap: break-word;
        margin-bottom: 15px;
      }
      &-files {
        max-width: 100%;
        display: block;
        word-wrap: break-word;
        &-img {
          width: 75px;
          height: 96px;
          margin-right: 10px;
          padding: 3px;
          cursor: pointer;
          overflow: hidden;
          background: var(--gx-color-gray);
        }
      }
      // Scrollbar styles
      // moz
      scrollbar-color: rgba(147, 52, 104, 0.3) rgba(252, 210, 215, 0.3); /* «цвет ползунка» «цвет полосы скроллбара» */
      scrollbar-width: thin;
      // webkit
      &::-webkit-scrollbar {
        width: 4px;
        background-color: rgba(40, 37, 52, 0.1); /* «цвет полосы скроллбара» */
      }
      &::-webkit-scrollbar-thumb {
        background-color: rgba(147, 52, 104, 0.3); /* «цвет ползунка» */
      }
    }
    &__send {
      height: 36px;
      background: rgba(243, 239, 243, 0.3);
      box-shadow: inset -2px 0px 4px rgba(0, 0, 0, 0.04), inset 2px 0px 4px rgba(0, 0, 0, 0.04);
      @include flex(sc);
    }
    &__input {
      width: 100%;
      &::part(base) {
        background-color: rgba(243, 239, 243, 0.3);
        border: none;
      }
    }
    &__buttons {
      display: flex;
    }
  }
  &_pay {
    background-color: rgba(243, 239, 243, 0.3);
    padding: 60px 30px 45px 30px;
    @include mobile {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__head {
      &_wrap {
        display: flex;
        align-items: center;
      }
    }
  }
  &_delivery {
    background-color: rgba(243, 239, 243, 0.3);
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    @include mobile {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__form {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 40px;
      background-color: $w;
      @include mobile {
        padding-left: 10px;
        padding-right: 10px;
      }
      &_top {
        background-color: $w;
        padding: 20px;
        @include mobile {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      &_attention {
        padding: 10px 20px;
        background-color: $pil;
        margin-bottom: 14px;
      }
      &_btn {
        &::part(base) {
          width: 228px;
          height: 44px;
          border: 2px solid $p;
          border-radius: 2px;
          &:hover {
            background-color: $p;
          }
        }
        &::part(label) {
          @include flex(cc);
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          color: $p;
          &:hover {
            color: $w;
          }
        }
        &-active {
          &::part(base) {
            border: 2px solid var(--gx-color-darckgray);
            background-color: $p;
            color: $w;
          }
          &::part(label) {
            color: $w;
          }
        }
      }
      &_head {
        @extend %cab-h1;
        border-top: 2px solid $g;
        padding-top: 20px;
        margin-bottom: 30px;
      }
      &_wrap {
        @include row(10);
        margin-bottom: 30px;
      }
      &_left,
      &_right {
        @include col(6, 10);
        @include tablet-md {
          @include col(12, 10);
        }

       *{
        margin-bottom: 23px;
       }
      }
      &_subhead {
        @extend %cab-h3;
        color: #8692a6;
        margin-bottom: 10px;
      }
      &_input {
        &::part(base) {
          border: 2px solid $pil;
          border-radius: 6px;
          color: $p2;
          height: 58px;
          @include flex(lc);
        }
        &::part(label) {
          font-size: 14px;
          &::after {
            content: (' *');
            color: $rd;
          }
        }
        &:hover {
          &::part(base) {
            border: 2px solid $a2;
            box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
          }
        }
        &-success {
          &::part(base) {
            background-color: rgba(255, 166, 176, 0.1);
            border: none;
          }
        }
        &_slot {
          &-hidden {
            visibility: hidden;
          }
          &-visible {
            text-align: right;
            color: $rd;
            visibility: visible;
          }
        }
        &_icon {
          &-hidden {
            display: none;
          }
          &-visible {
            display: block;
          }
        }
      }
      &_textarea {
        margin-bottom: 30px;
        &::part(base) {
          background-color: rgba(243, 239, 243, 0.3);
          box-shadow: inset -2px 0px 4px rgba(0, 0, 0, 0.1), inset 2px 0px 4px rgba(0, 0, 0, 0.1);
          border-radius: 2px;
        }
      }
    }
  }
  &_address {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(243, 239, 243, 0.3);
    @include mobile {
      padding-left: 10px;
      padding-right: 10px;
    }
    &__search {
      margin-bottom: 10px;
      &::part(base) {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid $g;
      }
    }
    &__card {
      pointer-events: none;
      display: flex;
      padding: 20px;
      background-color: $w;
      margin-bottom: 10px;
      border: 2px solid transparent;
      &:hover {
        border: 2px solid $a2;
      }
      &::part(base) {
        align-items: start;
        // {

        // }
      }
      &[checked] {
        &::part(checked-icon) {
          color: black;
        }
      }
      &::part(checked-icon) {
        border: 1px solid $p;
        border-radius: 50%;
        // border-color: $p;
        background-color: $w;
        // color: $p;
        &:focus {
          color: $p;
        }
      }

      &::part(control) {
        border-color: $p;
        &:focus {
          color: $p;
        }
      }
      &_address {
        pointer-events: painted;

        @extend %cab-h4;
        margin-top: 0;
        margin-bottom: 5px;
        word-break: break-word;
      }
      &_client {
        margin: 0;
        font-size: 14px;
      }
      &_newbtn {
        width: 100%;
        &::part(base) {
          width: 100%;
          @include flex(lc);
          height: 58px;
          border: none;
          color: $a2;
          text-transform: uppercase;
          font-weight: 700;
        }
        &:hover {
          &::part(base) {
            background-color: $a2;
            color: $w;
          }
        }
      }
    }
  }
}

// Стили из src/Views/ProductHorizontalCard/styles/index.module.scss
// Начало

.product {
  &__wrapper {
    &-block {
      display: flex;
      justify-content: flex-start;
      &_right {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  &__image_thumb {
    width: 72px;
    height: 97px;
    object-fit: cover;
    padding: 4px;
    margin-right: 10px;
    background-color: var(--gx-color-gray);
  }
  &__base_info {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    // font-family: Noto Sans;
    font-style: normal;
    font-size: 25px;
    @include tablet-mmd{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-column-gap: 40px;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
    // width: 100%;
    &__brand {
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      letter-spacing: 0.07em;
      color: var(--gx-color-pink);
      text-transform: uppercase;
    }
    &__title {
      font-weight: normal;
      font-size: 22px;
      line-height: 140%;
      color: var(--gx-color-primary);
      word-break: break-word;
    }
    &__size {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 140%;
      color: var(--gx-color-darkgray2);
    }
    &__price{
      display: flex;
      align-items: center;
      justify-content: start;
      color: $a;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 900;
      @include tablet-mmd{
        justify-content: end;
      }
    }
    &__color {
      font-size: 12px;
      line-height: 140%;
      color: var(--gx-color-darkgray2);
    }
    &-black {
      color: var(--gx-color-primary);
      margin-left: 3px;
      &_lt {
        color: var(--gx-color-primary);
        margin-left: 3px;
        text-decoration: line-through;
      }
    }
    &-red {
      color: $a2;
      margin-left: 3px;
      font-size: 22px;
    }
  }
  &__sales_info {
    display: flex;
    flex-wrap: wrap;
    // font-family: Noto Sans;
    @extend %font;
    font-style: normal;
    &-wrapper {
      display: flex;
      justify-content: flex-end;
      @include mobile {
        flex-wrap: wrap;
      }
      &-column {
        display: flex;
        flex-direction: column;
        margin-left: auto;
      }
    }

    &-terms {
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.04em;
      margin-right: 5px;
      color: var(--gx-color-darkgray2);
      @include mobile {
        margin-left: auto;
      }
    }
    &-current_price {
      margin-right: 10px;
      font-weight: bold;
      font-size: 16px;
      line-height: 120%;
      color: var(--gx-color-primary);
      &-empty {
        // margin-right: 45px;
        font-weight: normal;
        font-size: 12px;
        text-decoration: line-through;
      }
      @include mobile {
        margin-right: auto;
      }
    }
    &-new_price {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 120%;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: var(--gx-color-red);
    }
  }
  &__count {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    &-input {
      &::part(input) {
        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
      }
      &::part(input) {
        margin: 0;
        padding-left: 5px;
        width: 65px;
        text-align: center;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          -moz-appearance: textfield;
          margin: 0;
        }
      }
      &::part(base) {
        border: 1px solid #f3eff3;
        box-sizing: border-box;
        border-radius: 0px;

        &:focus-within {
          border-radius: 4px;
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
        }
      }
    }
    &__in_stock {
      padding: 0 6px;
      margin-top: 10px;
      font-weight: 500;
      text-transform: none;
      // font-family: 'Nato Sans', sans-serif;
      @extend %font;
      font-size: 10px;
      line-height: 14px;
      width: fit-content;
      letter-spacing: 0.03em;
      color: var(--gx-color-accent2);
      background: rgba(247, 244, 252, 0.75);
      border: 1px solid var(--gx-color-accent2);
      z-index: 2;
    }
    &-text {
      padding-top: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.04em;
      color: var(--gx-color-primary);
    }
  }
  &__current_currency {
    font-weight: bold;
    font-size: 16px;
    // padding-top: 13px;
    line-height: 120%;
    text-align: right;
    margin-right: 15px;
    color: var(--gx-color-primary);
  }
  &__delete {
    --icon-width: 10px;
    --icon-height: 10px;
    padding-left: 14px;
    &::part(base) {
      position: relative;
      top: -10px;
      padding: 0;
      &:focus {
        box-shadow: none;
      }
    }
    @include mobile {
      display: none;
    }
    &-mobile {
      display: none;
      margin-left: auto;
      height: min-content;
      &::part(base) {
        padding: 0;
      }
      @include mobile {
        display: block;
      }
      &_icon {
        --icon-width: 15px;
        --icon-height: 15px;
      }
    }
  }
}

.ordering{
  //ordering__wrapper
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &__wrapper{
    width: 80%;
    min-height: 180px;
    background: rgba(186, 127, 197, 0.75);
    margin: 10px;
    border-radius: 5px;
  }
  //ordering__inner-title
  &__inner-title{
    display: flex;
    width: 100%;
    justify-content: space-around;

  }
  //ordering__title-card
  &__title-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  //ordering__image-box
  &__image-box{
    position: relative;
    display: flex;
    height: 180px;
    width: 130px;
    margin: 20px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    
    
  }
  //ordering__img
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  //ordering__brand
  &__brand{
    display: flex;
    align-items: start;
    justify-content: center;
  }
  //ordering__title-brand
  &__title-brand{}
  //ordering__name-product
  &__name-product{}
  //ordering__title-name-products
  &__title-name-products{}
  //ordering__info-card
  &__info-card{
    position: relative;
    display: flex;
    justify-content: flex-end;
    right: 0;
    width: 80%;

  }
  //ordering__infop-product
  &__infop-product{}
  //ordering__size
  &__size{}
  //ordering__color
  &__color{}
  //ordering__price
  &__price{}
  //ordering__amount-product
  &__amount-product{}
  //ordering__price-product
  &__price-product{}
  //ordering__agreement
  &__agreement{}

}

// -----------------------------------------------

.order-card{
	display: flex;
	align-items: center;
	//.order-card-wrapper {}
	&-wrapper {
		width: 80%;
		border: 1px solid rgba(221, 182, 226, 0.75);
		background-color: rgba(247, 244, 252, 0.75);
    border-radius: 5px;
		padding: 15px;
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  @media (max-width: 960px){
    grid-template-columns: 1fr;
      grid-gap: 30px;
      width: 100%;
      margin: 0 0 20px;

    }
	}
	//.order-card__imgage-inner{}
	&__imgage-inner{
		width: 100px;
		height: 150px;
	}
	// .order-card__imgage {}
	&__imgage {
		flex: 0 1 20%;		
		display: flex;
		align-items: center;
		justify-content: center;
		// margin: 0 auto;
	}
	// .order-card__img {}
	&__img {
		height: 100%;
		background-position: center;
		background-size: 100%;
    background-repeat: no-repeat;
	}
	// .order-card__content {}
	&__content {

	}
}

.content-card {
	flex: 1 1 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  @media(max-width:960px){
    flex: 1 1 100%;
  }

	//.content-card__title {}
	&__title {
		margin-top: -15px;
		font-size: 24px;
    text-align: center;
    color: $a2;
	}
	//.content-card__brand {}
	&__brand {
		font-size: 20px;
    text-align: center;
		margin-bottom: 15px;
	}
	//.content-card__info {}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-left: 20px;
	}
	//.content-card__info-inner {}
	&__info-inner {
		letter-spacing: 2px;
		line-height: 160%;
    width: 100%;
    max-width: 200px;
	}
	//.content-card__info-size {}
	&__info-size {
		font-size: 16px;
		&>span{
			font-weight: 900;
		}
	}
	//.content-card__info-color {}
	&__info-color {
		font-size: 16px;
		&>span{
			font-weight: 900;
		}
	}
	//.content-card__info-agree {}
	&__info-agree {
		font-size: 16px;

	}
	//.content-card__amount {}
	&__amount {
		font-size: 20px;
		@media (max-width: 680px) {
			display: none;
		}
	}

	//content-card__amount-mob{}

	&__amount-mob{
    font-size: 20px;
		display: none;
		@media (max-width: 680px) {
			display: block;
			&>span{
			font-weight: 900;
		}
		}
	}
  //content-card__price-wrapper{}
  &__price-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    top: -5px;
    & > div {
      margin-right: 20px;
      margin-top: 10px;
    }
  }

	//.content-card__price {}
	&__price {
		font-size: 20px;
		margin-right: 50px;
    color: $a;
    display: flex;
    flex-wrap: wrap;
		@media (max-width: 680px) {
			display: none;
		}
    //content-card__price--color{}
    &--color{
      color: $a2;
    }
    &--old{
      color: $p;
      margin-left: 3px;
      font-size: 12px;
      text-decoration: line-through;
    }
	}
	//content-card__price-mob{}
	&__price-mob{
		display: none;
		@media (max-width: 680px) {
      display: block;
      &--old{
        color: $p;
        font-size: 12px;
        margin-left: 3px;
        text-decoration: line-through;
        position: relative;
        top: -11px;

      }
      &>span{
        font-weight: 900;
		}
		}
	}
	//content-card__inner-price{}
	&__inner-price{
		display: flex;
		align-items: center;
		// justify-content: space-evenly;
    margin: -20px 0 0;
    justify-content: flex-start;
    margin: -20px 0 0;
    flex-wrap: wrap;
    & > div {
      margin-right: 25px;
      @include adaptive-font(12,18);    
    }
    @media (min-width: 680px) {
      display: none;
    }
	}

  
}

