.git\
.vscode\
build/
cypress/
node_modules/
public/
cypress.json
docker-compose-front.yml
Dockerfile
Dockerfile-production
git_bash_help.txt
index.html
Makefile
microsoft.gpg
npm-shrinkwrap.json
TODO
yarn.lock
yarn-error.log
git-start-page.PNG
