@import '../../../styles/variables/index.scss';
@import '../../../styles/fonts/index.scss';

.cabinet {
  &_notifications {
    &__head {
      padding: 25px 30px;
      border: 1px solid #f1f1f1;
      @include tablet-lg {
        @include flex(sc);
        padding: 25px 10px;
        flex-wrap: wrap;
      }
      @include mobile-lg {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__select {
      &::part(base) {
        font-size: 12px;
      }
    }
    &__mark {
      margin-left: 50px;
      &:focus {
        box-shadow: none;
      }
      &:active {
        outline: none;
      }
      &::part(base) {
        color: $a2;
        &::before {
          content: '•';
          margin-right: 10px;
          font-size: 45px;
        }
        &:focus {
          box-shadow: none;
        }
        @include mobile {
          padding: 0;
        }
      }
      @include tablet-lg {
        margin-left: 0;
      }
    }
    &__delete {
      margin-left: 34px;
      @include tablet-lg {
        margin-left: 0;
      }
      &::part(base) {
        &:focus {
          box-shadow: none;
        }
        @include mobile {
          padding: 0 2px;
        }
      }
    }
    &__item {
      @include flex(sc);
      padding: 10px 30px;
      border: 1px solid #f1f1f1;
      @include tablet-lg {
        padding: 10px 10px;
      }
      @include mobile {
        flex-direction: column;
        align-items: flex-start;
      }

      &_wrapper {
        @include flex(lc);
      }
      &_header {
        cursor: pointer;
        &-unread {
          font-weight: bold;
        }
      }
      &_mark {
        display: inline-block;
        min-width: 10px;
        height: 10px;
        background-color: transparent;
        border-radius: 50%;
        margin-left: 10px;
        margin-right: 10px;
        &-unread {
          background-color: $a2;
        }
      }
      &_date {
        @extend %text-small;
        letter-spacing: 0.04em;
        color: $dg2;
        min-width: 100px;
        text-align: right;
        @include mobile {
          align-self: flex-end;
        }
      }
    }
  }
  &_mobile_wrapper {
    @include padding-for-mobile;
  }
}
