@import '../../styles/variables/index.scss';
.logo {
  --icon-width: 328px;
  --icon-height: 100px;
  min-width: 0;
  max-width: 438px;
  max-height: 100%;
  height: 50px;
  width: 350px;
  // overflow: hidden;
  color: var(--gx-color-black);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &-head  {
    max-width: 230px;
    max-height: 50px;
    height: 40px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 400px) {
      max-width: 186px;
    }
  }
  &-footer  {
    max-width: 438px;
    max-height: 140px;
    height: 140px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &-img{
    height: 100%;
    width: 100%;
    max-width: 270px;
    top: 0;
    left: 0px;
    max-height: 100%;
    position: absolute;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @media (max-width:780px) {
      position: relative;
      left: 0;
    }
  }

  &:hover {
    color: var(--gx-color-black);
  }
  &.light {
    color: var(--gx-color-white);
  }
  &.mobile {
    display: none;
    @include mobile {
      display: block;
      z-index: 100;
      right: 50%;
      transform: translate(50%);
      width: 100%;
    }
  }
  @include mobile {
    gx-icon {
      width: calc(19vw + 50px);
    }
    &>img{
      // background-color: #fff;
      object-fit:cover;
      max-height: 50px;
      min-width: 200px;
    }
  }
  @include mobile-lg{
    &>img{
      background-color: #fff;
      object-fit:cover;
      max-height: 50px;
      min-width: 180px;
    }
  }
  & gx-icon {
    height: 45px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
