.information-exchange {
  max-width: 924px;
  margin: 0 auto 60px;

  &__desc {
    line-height: 22px;
    letter-spacing: 0.04em;
    margin-top: 0;
  }
  &__features {
    padding-left: 0;

   
  }

  &__important {
    background-color: $g;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    @include flex('lc');

    &::before {
      content: url('../../../images/icon/toolTipIcon.svg');
      margin-right: 12px;
    }

    &-text {
      @extend %cab-h4;
    }
  }

  &__link {
    display: block;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: #282534;
  }
}
