@import '../../styles/variables/index.scss';
@import '../../styles/fonts/index.scss';

.poppins {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
}
.product__instock {
  &-title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--gx-color-primary);
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.cooperation {
  &-title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--gx-color-primary);
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 120px;
    @include tablet-md {
      font-size: calc(12px + 5vw);
    }
  }
}
.news {
  &-title {
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--gx-color-primary);
    margin-bottom: 20px;
    margin-top: 20px;
    @include tablet-md {
      text-align: center;
    }
  }
}
.live__photos {
  &-title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--gx-color-primary);
    margin-bottom: 10px;
    margin-top: 20px;
  }
}
.reviews {
  &-title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--gx-color-primary);
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
.page {
  &__news {
    // font-family: Cormorant Garamond;
    @extend %font;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--gx-color-primary);
    margin-top: 30px;
    margin-bottom: 30px;
    &-pink {
      // font-family: Cormorant Garamond;
      @extend %font;
      font-style: normal;
      text-align: center;
      font-weight: 600;
      font-size: 54px;
      line-height: 130%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--gx-color-pink);
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.catalog-heading {
  @include h(2);
  text-transform: uppercase;
  // margin-bottom: 15px;
}
.already-watched {
  // font-family: Noto Sans;
  @extend %font;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--gx-color-primary);
}

.information-payments__title {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 20px;
  padding-right: 20px;
  // font-family: Cormorant Garamond;
  @extend %font;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--gx-color-primary);
  @include mobile-lg {
    font-size: 36px;
  }
}

.wishlist {
  text-align: left;
  // padding-top: 60px;
  padding-right: 20px;
  // font-family: Cormorant Garamond;
  @extend %font;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--gx-color-primary);
  @include laptop-sm {
    padding: 0 15px;
  }
}

.cart-min {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: var(--gx-color-pink);
}
.cart {
  @include h(2);
  text-transform: uppercase;
  color: var(--gx-color-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  // font-family: Noto Sans;
  @extend %font;
  padding-top: 10px;
}
.news-details-page__title {
  // font-family: Cormorant Garamond;
  @extend %font;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0px;
  color: var(--gx-color-primary);
  word-break: break-word;
}

.cabinet__heading {
  @include h(3);
  @include tablet-md {
    margin-left: 15px;
  }
}
.about-page {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $a;
}

.about_page_for__head {
  margin-bottom: 58px;
}

.about_page_pluses__head {
  text-align: center;
  margin-bottom: 20px;
}

.about__card_head {
  @extend %cab-h1;
  text-align: center;
}
.prodpage__title {
  @extend %cab-h1;
  line-height: 150%;
}
.productdescription__title {
  @extend %font;
  font-size: 32px;
  letter-spacing: 0.02em;
  @include padding-for-mobile;
}
.min_card {
  @extend %font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--gx-color-primary);
}

.sub_content {
  // font-family: Cormorant Garamond;
  @extend %font;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--gx-color-primary);
}

.cabinet_orders_details__title {
  @include h(4);
  color: $a2;
  margin-bottom: 20px;
  @include mobile {
    display: flex;
    flex-direction: column;
    word-wrap: anywhere;
  }
}

.promocode {
  &-create {
    // font-family: Noto Sans;
    @extend %font;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: var(--gx-color-primary);
  }
}
