@import '../../../styles/fonts/index.scss';
@import '../../../styles/variables/index.scss';
.cabinet {
  &-sidebar {
    &user {
      background: #fff2f3;
      margin-bottom: 30px;
      border-radius: 2px;
      @include tablet-md {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include mobile-lg {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &store {
      background: #f7f4fc;
      margin-bottom: 30px;
      border-radius: 2px;
      @include tablet-md {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
      }
      @include mobile-lg {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    &__top {
      @include flex(lc);
      flex-wrap: wrap;
      padding: 30px 30px 20px;
      @include tablet-md {
        padding: 0 5px 0 30px;
        width: 50%;
      }
      @include mobile-lg {
        padding: 0 5px;
      }
    }
    &__ava {
      &wrap {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background: $w;
        border: 2px solid $pi2;
        flex-shrink: 0;
        margin-right: 20px;
        @include flex(cc);
        overflow: hidden;

        .cabinet-sidebarstore & {
          border-color: $dg2;
        }
      }
      &name {
        @extend %font-head;
        text-transform: capitalize;
        @include h(3);
      }
      &img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__user {
      &info {
        width: max-content;
      }
      &name {
        @extend %cab-h2;
        margin-bottom: 3px;
      }
      &role {
        @extend %text-small;
        opacity: 0.5;
      }
    }
    &__balance {
      &row {
        @include flex(sc);
        align-items: flex-end;
        padding: 0 30px 20px;
        @include tablet-lg {
          flex-wrap: wrap;
        }
        @include tablet-md {
          padding: 0 5px;
          width: 50%;
        }
        @include mobile-lg {
          margin-top: 15px;
        }
      }
      &block {
      }
      &label {
        @extend %text-small;
        opacity: 0.5;
      }
      &value {
        @extend %cab-h1;
        color: $a2;
      }
      &btns {
        flex-shrink: 0;
        @include tablet-lg {
          margin-top: 15px;
        }
      }
    }
    &__menu {
      padding-bottom: 30px;
      @include tablet-mmd {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 0;
        margin-top: 15px;
      }
      @include mobile-lg {
        flex-direction: column;
      }

      &link {
        padding: 9px 30px;
        display: block;
        letter-spacing: 0.5px;
        color: $p;
        font-size: 16px;
        position: relative;
        width: 100%;
        @include tablet-mmd {
          width: 33%;
        }
        @include mobile {
          padding: 9px 5px;
        }
        @include mobile-lg {
          width: 100%;
        }
        &.active {
          /* background: $pil; */

          .cabinet-sidebarstore & {
            background: #eae4f5;
          }
        }
        &:hover {
          color: var(--gx-color-primary);
          background: #ffeaee;

          .cabinet-sidebarstore & {
            background: #f2eef9;
          }
        }
      }
      &count {
        @include flex(cc);
        position: absolute;
        right: 30px;
        top: 8px;
        border-radius: 12px;
        background: $pil;
        min-width: 24px;
        height: 24px;
        padding-left: 4px;
        padding-right: 4px;
        color: $p;
        font-size: 14px;
        font-weight: bold;

        .cabinet-sidebarstore & {
          background: #eae4f5;
        }
      }
    }
    &__newstorebtn {
      @extend %text-btn;
      @include flex(cc);
      background: $p;
      color: $w;
      margin-bottom: 30px;
      padding: 19px 30px;
      border-radius: 2px;
      height: 70px;
      @include tablet-md {
        width: max-content;
        margin-left: 15px;
      }
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
      &:hover {
        background-color: var(--gx-color-primary2);
        color:  $w;
      }
      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }
}

.mobile {
  display: none;
  @include mobile-lg {
    display: flex;
    margin: 0 auto;
  }
}

.desktop {
  @include mobile-lg {
    display: none;
  }
}
