@import '../../../styles/variables/index.scss';
@import '../../../styles/fonts/index.scss';

@mixin tableStyle {
  %cab-h2 {
    @extend %font;
    font-weight: bold;
    font-size: 16px;
  }
  %text-small {
    @extend %font;
    font-size: 12px;
    letter-spacing: 0.3px;
  }
  display: block;

  width: 100% !important;
  overflow-x: scroll;
  max-width: 100%;
  border-collapse: 0;
  border-spacing: 0;
  tr {
    border-bottom: 5px solid transparent;
    &:hover {
      background-color: var(--gx-color-gray2);
      & a {
        text-decoration: underline;
      }
    }
  }
  th,
  td {
    padding: 11px 0 11px 20px;
  }
  th {
    background: var(--gx-color-accent2);
    color: var(--gx-color-white);
    font-weight: bold;
    text-align: left;
    @extend %cab-h2;
    border-right: 2px solid var(--gx-color-white);
    padding: 10px;
    &:last-child {
      border-right: 0;
    }
  }
  &__tdfull {
    padding: 10px 0 !important;
  }
  &__th {
    position: relative;
  }
  &__thlink {
    opacity: 0.5;
    --icon-width: 16px;
    position: absolute;
    top: -8px;
    right: -20px;

    &:hover {
      opacity: 1;
    }
  }
}

.information-payments {
  &__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 38px;
  }

  &__wrapper {
    max-width: 924px;
    margin: 0 auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 60px;
    padding-bottom: 20px;

    &-title {
      background-color: rgba(var(--gx-color-lightpink-rgb), 0.3);
      padding-left: 20px;
      padding-right: 20px;
    }

    &-desc {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 20px;
      margin-bottom: 0;
      overflow: hidden;
      #table_wrapper {
        overflow: scroll;
      }
      table {
        @include tableStyle;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .information-payments {
    &__wrapper {
      @include padding-for-mobile;
    }
  }
}
.information-delivery {
  &__wrapper {
    // max-width: 924px;
    &-desc {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 20px;
      margin-bottom: 0;
    }

    &-desc-small {
      @extend %text-small;
      color: $dg2;
    }

    &-important {
      background-color: $g;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 20px;
      margin-right: 20px;
      @include flex('lc');

      &::before {
        content: url('../../../images/icon/toolTipIcon.svg');
        margin-right: 12px;
      }
      &-exchange {
        margin-top: 30px;
        margin-bottom: 30px;
      }
      &-text {
        @extend %cab-h4;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .information-exchange {
    @include padding-for-mobile;
  }
}

.information-howto {
  max-width: 924px;
  margin: 0 auto 60px;
  &__wrapper {
    @include flex('st');
    margin-bottom: 30px;
  }
  &__desc {
    &-small {
      font-weight: bold;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.04em;
      color: $dg2;
      margin-bottom: 60px;
      &::before {
        content: ('* ');
        color: $p;
      }
    }
  }

  &__sex {
    margin-left: 30px;
  }
  &__heading {
    @extend %cab-h1;
    margin-bottom: 20px;
    &-center {
      @extend %cab-h1;
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__link {
    display: block;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: $p;
    cursor: pointer;
  }
  &__switcher {
    padding-bottom: 20px;
    &-heading {
      width: 50%;
      @extend %cab-h3;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $g;
      padding-bottom: 10px;
      &.active {
        border-bottom: 1px solid $p;
      }
    }
  }
}
// @media screen and (max-width: 1024px)
@include tablet-lg {
  .information-howto {
    @include padding-for-mobile;
  }
}

@include mobile-lg {
  .information-howto {
    &__wrapper {
      flex-direction: column-reverse;
    }
    &__sex {
      margin-left: 0;
      width: 100%;
    }
    &__image {
      height: 250px;
      margin-left: 0;
    }
  }
}
.information-contacts {
  max-width: 924px;
  margin: 0 auto 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  @include mobile {
    grid-template-columns: 1fr;
  }

  &__heading {
    @extend %cab-h1;
  }

  &__link {
    display: inline-block;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: $p;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .information-contacts {
    @include padding-for-mobile;
  }
}
.subtitle {
  &-reviews {
    // font-family: Noto Sans;
    @extend %font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 40px;
    line-height: 140%;
    text-align: center;
    color: var(--gx-color-primary);
  }
}

.wrapper {
  &-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    gap: 20px;
  }
  &-sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-top: 20px;
  }
  &-pagination {
    display: flex;
    justify-content: flex-start;
    &-center {
      display: flex;
      justify-content: center;
      margin-top: -80px;
      @include tablet-lg {
        margin-top: 0;
      }
    }
  }
  &-subcontent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  &-card_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    margin-top: 60px;
    margin-bottom: 40px;
    @include tablet-md {
      grid-template-columns: repeat(1, 1fr);
    }
    &-card {
      padding: 30px;
      max-width: 447px;
      background: var(--gx-color-white);
      box-shadow: -16px -16px 32px rgba(222, 226, 242, 0.2), 16px 16px 32px rgba(222, 226, 242, 0.3);
      border-radius: 2px;
      @include tablet-md {
        max-width: none;
      }
    }
    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      --icon-width: 50px;
      --icon-height: 50px;
      gap: 20px;
    }
    &-icon {
      min-width: 40px;
      min-height: 40px;
    }
    &-content {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.04em;
      color: var(--gx-color-primary);
      margin-top: 20px;
    }
  }
}

.show_more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-counter {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: var(--gx-color-primary);
  }
}

.subtitle {
  &-partnership {
    // font-family: Noto Sans;
    @extend %font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    color: var(--gx-color-primary);
    p {
      margin: 0;
    }
  }
}

.subcontent {
  &-wrapper {
    display: flex;
    margin-bottom: 60px;
    overflow: hidden;
    @include tablet-md {
      flex-flow: column;
      align-items: center;
    }
  }
  &-reverse_wrapper {
    display: flex;
    margin-bottom: 60px;
    flex-flow: row-reverse;
    @include tablet-md {
      flex-flow: column;
      align-items: center;
    }
  }
  &__image {
    min-width: 367px;
    max-width: 50%;
    @include mobile-lg {
      min-width: 100%;
      max-width: 100%;
    }
    &-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__content {
    padding: 0px 30px;
    @include tablet-md {
      margin-top: 30px;
      padding: 0;
    }
    p {
      margin: 0px;
    }
    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.04em;
      color: var(--gx-color-primary);
      margin-bottom: 20px;
    }
    &-link {
      // margin-top: 25px;
      display: inline-block;
      text-align: center;
      max-height: 50px;
      padding: 14px 26px;
      border: 2px solid var(--gx-color-darkgray);
      border-radius: 2px;
      background-color: var(--gx-color-white);
      text-transform: uppercase;
      // font-family: 'Nato Sans', sans-serif;
      @extend %font;
      font-weight: bold;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: var(--gx-color-accent2);
      &:hover {
        border: 2px solid var(--gx-color-accent2);
        transition: 0.3s;
      }
      &:active {
        color: var(--gx-color-white);
        background-color: var(--gx-color-accent2);
        transition: 0.3s;
      }
    }
  }
}
