@import '../../styles/variables/index.scss';

.main-categories {
  padding: 48px 0 8px;
  @include padding-for-mobile;

  &-wrap {
    padding-top: 10px; 
    position: relative;
    @include row(15);
    @include mobile {
      margin: 0;
    }
    align-items: stretch;
    justify-content: space-evenly;
  }
  &-card {
    @include col(3, 0);
    @include tablet-lg{
      @include col(6, 0);
    }
    @include mobile {
      @include col(12, 0);
    }
    position: relative;
    min-height: 100%;
    
    // последниму элементу задаём цвет
    &:last-of-type h2.main-categories__title {
      color: var(--gx-color-accent2);
    }
  }
  @include categoryCard;
  a:hover {
    color: var(--gx-color-primary);
    .accent {
      color: var(--gx-color-accent);
    }
  }
}
.main-categories h2.main-categories__title {
  // font-size: 25px;
  @include adaptiv-font(16,28);
  color: var(--gx-color-primary);
  @include tablet-lg {
    // font-size: 3vw;
    padding: 0;
  }
  @include mobile {
    // font-size: 5vw;
    padding-bottom: 15px;
  }
}
