@import '../../styles/variables/index.scss';
@import '../../styles/fonts/index.scss';
.header-buttons__search {
  &-show-result-for {
    // font-family: Noto Sans;
    @extend %font;
    font-weight: bold;
    font-size: 32px;
    line-height: 140%;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #282534;
  }
  &-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 220px;
    transition: all 0.3s;
    width: 0;
    visibility: hidden;

    @include laptop-md {
      right: 195px;
    }
    @include laptop-sm {
      right: 250px;
    }
    @include tablet-lg {
      right: 0;
      top: 50px;
    }
    @include mobile {
      right: 0;
      top: calc(-100vh + 120px);
    }
    &--fade-in {
      transition: all 0.3s;
      width: 320px;
      visibility: visible;
      @include tablet-lg {
        width: 100%;
      }
    }
    &__bg {
      display: none;
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 99;
      &--active {
        display: block;
      }
      @include tablet-lg {
        background-color: $w;
      }
    }
  }
  &-btn {
    position: relative;
    --icon-width: 24px;
    --icon-height: 24px;
    --gx-input-height-medium: auto;
    --gx-input-border-width: 0;
    --gx-spacing-large: 0;
    &::part(base) {
      box-shadow: none;
      line-height: 1;
      color: $a;
    }
    &::part(base):hover {
      color: $a2;
      background-color: inherit;
    }
  }
}
.search-dropdown {
  &__show-all {
    font-size: 14px;
    line-height: 140%;
    color: $a2;
  }

  &__menu {
    @include tablet-lg {
      width: 100vw;
    }
    &::part(base) {
      padding: 0;
    }
    &-item::part(base) {
      padding: 0 10px;
      border-bottom: 1px solid $g;
      height: 50px;
      width: 320px;
      @include tablet-lg {
        width: 100%;
      }
      align-items: center;
    }
    &-item::part(base):hover {
      background-color: $g;
    }
    &-item:hover {
      .search-result__title {
        color: $a2;
      }
    }
  }
}
.search-result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 30px;
  }
  &__title {
    font-size: 12px;
    letter-spacing: 0.04em;
    color: $p;
    max-width: 206px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    @include mobile-sm {
      max-width: 165px;
    }
  }
  &__price {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.04em;
    color: $p;
  }
  &__images {
    display: flex;
    align-items: center;
  }
  &__preview {
    width: 26px;
    margin-right: 10px;
  }
  &__arrow {
    --icon-width: 24px;
    --icon-height: 24px;
    transform: rotate(180deg);
  }
}
