// @import '../../../Views/Button/styles/CabinetDefaultVariant.module.scss';
@import '../../../styles/variables/index.scss';
@import '../../../styles/fonts/index.scss';
.cabinet {
  &-row {
    @include row(15);
  }
  &-leftcol {
    @include col(3, 15);
  }
  &-rightcol {
    @include col(9, 15);
  }
  &-formblock {
    position: relative;
    margin-bottom: 40px;
    background: $w;
    border: 1px solid #f1f1f1;

    &__top {
      background-color: var(--gx-color-pink3);
      @include flex(lc);
      padding: 1px 20px;
    }
    &__heading {
      @include h(3);
    }
    &__content {
      padding: 20px 20px 30px;

      small {
        color: $dg2;
      }
    }
  }
  &-delaccount {
    @include flex(lc);
    opacity: 0.75;
    margin-left: auto;

    &:hover {
      opacity: 1;
    }
    &__text {
      color: $rd;
      @extend %text-link;
    }
    &__icon {
      width: 20px;
      display: block;
      margin-left: 5px;
    }
  }
  &-form {
    &__row {
      @include row(10);
    }
    &__col {
      @include col(6, 10);
    }
    &__end {
      padding-top: 20px;
      @include flex(sc);

      &right {
        text-align: right;
      }
    }
  }
  &-warning {
    @include flex(lt);
    margin-bottom: 30px;

    &__icon {
      flex-shrink: 0;
      opacity: 0.5;
      margin-right: 10px;

      --icon-width: 20px;
    }
    &__desc {
      width: 100%;

      a {
        @extend %text-small;
        color: $b;
      }
    }
    &__text {
      margin-bottom: 10px;
    }
  }
  &__heading {
    @include h(3);
    margin-bottom: 20px;
  }
  &_mobile_wrapper {
    @include padding-for-mobile;
  }
  &_subtext {
    color: $dg2;
    margin-bottom: 30px;
  }
}

.cabinet {
  &__heading {
    @include h(3);
    margin-bottom: 20px;
    @include tablet-md {
      padding: 0 20px;
    }
  }
  &_reviews {
    &__head {
      &-hidden {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
      }
    }
    &__name {
      @extend %text-small;
    }
    &__level {
      @extend %text-small;
      color: $dg2;
      &-boldup {
        @extend %cab-h3;
      }
    }
    &__counter {
      @extend %cab-h1;
    }
    &__rating {
      @include flex(lc);
      &_circle {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: $g;
        &-fill {
          background-color: $a2;
        }
      }
      &_progress {
        height: 6px;
        margin-left: -1px;
        margin-right: -1px;
        border: none;
        width: 100%;
        max-width: 346px;
        background-color: $g;

        &::-webkit-progress-bar {
          background-color: $g;
        }
        &::-webkit-progress-value {
          background-color: $a2;
        }
        &::-moz-progress-bar {
          background-color: $a2;
        }
      }
    }
    &__btnwrap {
      @include tablet-md {
        margin-left: 20px;
      }
    }
  }
  &_history {
    margin-top: 60px;
    &__top {
      background-color: var(--gx-color-pink3);
      padding: 11px 20px;
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: 3fr 2fr 1fr;
      @include mobile {
        display: none;
      }
      &_head {
        @extend %cab-h2;
        color: $a;
      }
    }
    &__card {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 4px $a2;
      }
      &_top {
        padding: 20px;
        display: grid;
        grid-template-columns: 3fr 2fr 1fr;
        @include mobile {
          grid-template-columns: 1fr;
        }
      }
      &_head {
        margin: 0;
        letter-spacing: 0.04em;
      }
      &_text {
        margin: 0;
        letter-spacing: 0.04em;
        color: $dg2;
        @include mobile {
          margin-right: 10px;
        }
        &-green {
          margin: 0;
          letter-spacing: 0.04em;
          color: $gr;
        }
      }
      &_image {
        display: block;
        width: 29px;
        height: 40px;
        padding: 1px;
        background-color: $g;
        margin-right: 5px;
        object-fit: cover;
        overflow: hidden;
        &_wrap {
          @include flex(lc);
        }
        &_counter {
          @extend %text-small;
          margin: 0;
        }
        &:hover{
          position: absolute;
          width: 30%;
          height: 30%;
          left: 20%;
        }
      }

      &_product {
        display: grid;
        grid-template-columns: 2fr 1fr;
        @include mobile {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
        }
      }
      &_publication {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        @include mobile {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
        }
      }
      &_bonus {
        &_wrap {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-items: center;
          @include mobile {
            display: flex;
          }
        }
        &_icon {
          color: var(--gx-color-darkgray);
        }
        &_likes {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 5px;
          @extend %text-small;
          &_wrap {
            @include flex(lc);
          }
        }
        &_plus {
          margin: 0;
          max-width: max-content;
          background-color: rgba(243, 239, 243, 0.5);
          border-radius: 4px;
          padding: 2px 4px;
          @extend %text-small;
          font-weight: 700;
          color: $gr;
        }
      }
      &_revstatus {
        @include flex(sc);
        &_icon {
          height: 10px;
          width: 10px;
          color: $p;
          //   &-open {
          //     height: 10px;
          //     width: 10px;
          //     color: $a2;
          //     transform: rotate(180deg);
          //   }
        }
      }
      &_more {
      }
      details[open] {
        cursor: default;
        .cabinet_history__card_revstatus_icon {
          color: $a2;
          transform: rotate(180deg);
        }
      }
      &_status {
        margin: 0;
        letter-spacing: 0.04em;

        &-onmoder {
          color: $dg2;
        }
        &-reject {
          color: $rd;
        }
        &-published {
          color: $gr;
        }
      }
      &_details {
        padding: 0 20px;
        &_head {
          @extend %cab-h1;
          margin-top: 20px;
        }
        &_line {
          height: 2px;
          width: 100%;
          background-color: $g;
          margin: 10px 0;
        }
        &_text {
          padding: 20px;
          background-color: rgba(243, 239, 243, 0.3);
          box-shadow: inset -1px 0px 2px rgba(0, 0, 0, 0.1), inset 1px 0px 1px rgba(0, 0, 0, 0.1);
          border-radius: 2px;
          margin: 10px 0;
          color: var(--gx-color-primary);
        }
        &_wrap {
          @include flex(lc);
          flex-wrap: wrap;
        }
        &_desc {
          font-size: 12px;
          color: $dg2;
          margin-right: 10px;
        }
      }
    }
  }
}
