@import '../../styles/fonts/index.scss';
.wrapper {
  position: relative;
  max-width: 276px;
  width: 273px;
  left: -15px;
  --gx-color-primary-95: #f7f4fc;
  &-menu::part(base) {
    width: 100%;
    
  }
  
  &-menu {
    
    a {
      color: var(--gx-color-primary);
    }
    &-bage {
      // font-family: Roboto sans-serif;
      @extend %font;
      font-style: normal;
      --gx-color-primary-50: var(--gx-color-lightpink);
      &::part(base) {
        color: var(--gx-color-primary);
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  
}

.inner-notif{
  display: flex;
  justify-content: space-between;
}

.notif{

  position: absolute;
  right: 20px;
  top: -10px;
}

.icomoon{
  color: rgb(233, 119, 13);
  position: absolute;
  top: 15px;
  opacity: 0.7;
  right: 5px;
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}


@keyframes slidein {
  from {
    // font-size: 5px;
    color: rgb(216, 67, 87);
  }

 25%{
    color: rgb(146, 49, 49);
  }

  50%{
    color: rgb(192, 42, 42);
  }

  75%{
    color: rgb(175, 177, 52);
  }

  to {
    color: hsl(51, 79%, 50%);
    // font-size: 30px;
  }
}

// .test{
//   background-color: #000;
// }