.wrapper {
  position: relative;
  margin-top: 95px;
  max-width: 445px;
  left: 0;
  &.mt_50 {
    margin-top: 50px;
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 0.02em;
    color: var(--gx-color-primary);
    &__help__text-line {
      height: auto;
      border-bottom: 1px solid var(--gx-color-darkgray);
      margin-top: 30px;
      padding-bottom: 7px;
    }
    &__help-text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.04em;
      opacity: 0.5;
      color: var(--gx-color-primary);
      margin-bottom: 40px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
    &__links {
      display: flex;
      flex-direction: column;
    }
  }
  &__form__group-btn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
  }
}
