@import '../../../styles/variables/index.scss';


.wrapper {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding: 60px 60px 60px 135px;
  width: 80%;
  // max-width: 445px;

  @include laptop-sm {
    padding: 60px 0 60px 0;
  }
}

.links {
  display: flex;
  flex-direction: column;
  padding: 0px 155px 40px 133px;
  bottom: 0px;
  position: absolute;
  & > div{
    font-size: 14px;
    cursor: pointer;
    line-height: 160%;
    &:hover{
        color: $a2;
    }
  }
  @include laptop-sm {
    position: static;
    padding: 0 0 60px 0;
  }
  & a {
    text-decoration: underline;
    margin-top: 10px;
  }
}
.right__side {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: space-between;
  @include laptop-sm {
    align-items: center;
  }
@include mobile {
  padding-left: 15px;
  padding-right: 15px;
}
}
