.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  margin-top: 29px;
  right: 5px;
  width: 30px;
  height: 30px;
  &::part(base) {
    // background-color: var(--gx-color-white);
    --gx-tooltip-color: var(--gx-color-primary);
    --gx-tooltip-background-color: var(--gx-color-white);
    font-size: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.11);
    border: 2px solid var(--gx-color-gray);
    padding: 10px 7px;
    min-width: 160px;
    // max-width: var(--max-width);
    // border-radius: var(--gx-tooltip-border-radius);
    // background-color: var(--gx-tooltip-background-color);
    // font-family: var(--gx-tooltip-font-family);
    // font-size: var(--gx-tooltip-font-size);
    // font-weight: var(--gx-tooltip-font-weight);
    // line-height: var(--gx-tooltip-line-height);
    // color: var(--gx-tooltip-color);
  }
}
.wrapper {
  position: relative;
  &__trigger {
    background-color: transparent;
    top: 0;
  }
}
