@import '../../styles/variables/index.scss';

.modal_creator {
  position: absolute;
  --width: 980px;
  @include mobile {
    --width: 100vw;
  }

  &::part(base) {
    z-index: 9999999;
  }

  &::part(overlay) {
    background-color: var(--gx-overlay-background-color);
    opacity: 0.3;
  }
  &::part(panel) {
    box-shadow: -16px -16px 32px rgba(222, 226, 242, 0.2), 16px 16px 32px rgba(222, 226, 242, 0.3);
    border-radius: 4px;
    @include scrollbar;
    @include mobile {
      max-width: 100vw;
      max-height: 100vh;
    }
  }
  &::part(body) {
    padding: 0;
  }
  &::part(close-button) {
    display: none;
  }
}
.addreview {
  &::part(panel) {
    max-width: 765px;
    @include scrollbar;
  }
}

.modal {
  &-add_to_cart {
    background-color: #a55;
    --width: 563px;
    &::part(panel) {
      max-width: 1000px;
      @include scrollbar;
    }
  }
  &-promocode {
    --width: 486px;
    &::part(panel) {
      max-width: 1000px;
      @include scrollbar;
    }
  }
  &-feedback {
    --width: 667px;
    &::part(panel) {
      max-width: 664px;
      @include scrollbar;
    }
  }
  &-payments {
    --width: 664px;
    &::part(panel) {
      max-width: 664px;
      @include scrollbar;
    }
  }
  &-product {
    --width: 1460px;
    @include tablet-lg {
      --width: 100vw;
    }
    :global {
      .modal-closebtn {
        top: 0;
        right: 0;
      }
      .modal-min_wrap {
        padding: 20px 40px 20px 10px;
      }
    }
    &::part(panel) {
      @include scrollbar;
      max-width: 1460px;
      max-height: 800px;
    }
  }
  &-confirm_delete {
    --width: 410px;
    &::part(panel) {
      max-width: 410px;
      @include scrollbar;
    }
  }
  &-success_error {
    &::part(panel) {
      max-width: 397px;
      @include scrollbar;
    }
  }
  &-review {
    &::part(panel) {
      max-width: 765px;
      @include scrollbar;
    }
  }
  &-how_to {
    &::part(panel) {
      max-width: 1280px;
      @include scrollbar;
      max-height: 1025px;
    }
  }
  &-delete {
    &__account {
      &::part(panel) {
        // max-width: 546px;
        @include scrollbar;
      }
    }
  }
  &-make__advertisement {
    &::part(panel) {
      max-width: 500px;
      @include scrollbar;
      max-height: 350px;
    }
  }
  &-change {
    &__password {
      &::part(panel) {
        max-width: 546px;
        @include scrollbar;
      }
    }
    &__phone {
      &::part(panel) {
        max-width: 546px;
        @include scrollbar;
      }
    }
  }
  &-live_photo {
    --width: 1360px;
    :global {
      .modal-wrap {
        padding: 0;
      }
      .modal-closebtn {
        right: -10px;
        @include tablet-lg {
          right: -15px;
          top: 0px;
        }
        @include mobile {
          top: 0px;
          right: -20px;
        }
      }
      .modal-content .modal-wrap {
        padding: 15px;
        padding-top: 50px;
        @media (min-width: 768px) {
          background-color:red;
        }
        .modal-closebtn {
          top: 0;
          right: 0;
        }
      }
    }
    &::part(overlay) {
      background-color: var(--gx-color-gray);
      opacity: 1;
    }
    &::part(panel) {
      max-height: 100%;
      background-color: var(--gx-color-gray);
      box-shadow: none;
      @include scrollbar;
    }
  }
  &-leave-request {
    &::part(panel) {
      max-width: 706px;
      @include scrollbar;
    }
  }
  &-reset-password {
    &::part(panel) {
      max-width: 546px;
      @include scrollbar;
    }
  }

  &-info-order{
    width: 320px;
    
  }
  
}

.message__order{
  font-size: 18px;
  font-weight: 900;
  color: red;
  padding: 40px;
}