@import '../../styles/variables/index.scss';

.popup{ 
    border: 1px solid black;
    position: fixed;
    background-color: rgba(17, 17, 17,.5);
    left: 0;
    top: 0;
    margin: auto 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000; 
    
    &__close{
        position: absolute;
        top: 5%;
        left: 94%;
        margin: 10px;
        color: $pi2;
        width: 20px;
        font-size: 20px;
        height: 20px;
        background: none;
        border:none;
        cursor: pointer;
    }
    &__container{
        background-color: rgba(255, 255, 255, .9);
        width: 90%;
        height: 90%;
        padding: 0 20px;
        position: absolute;
        overflow: hidden;
        overflow-y: auto;
        overflow-x: hidden;
        max-width: 1700px;

        @media (max-width:480px) {
          padding: 0;
        }
    }
    // &__main{
    //     position: relative;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     flex-direction: column;
    // }    
    &__image{
        left: 0;
        top: 0;
        // width: 100%;
        height: 100%;
        min-width: 220px;
        max-width: 220px;
        min-height: 300px;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        // background-image: url();
    }
    &__list{
        width: 100%;
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        & h1{
            text-align: center;
            width: 100%;
            color: $pi2;
            font-size: 37px;
        }
    }
    &__item{
            pointer-events: none;
            // flex: 1 0 20%;
            padding-left: 5px;
            padding-right: 5px;
            background-color: rgb(255, 210, 210);
            border: 2px double rgb(245, 152, 152);
            position: relative;
            margin-bottom: 5px;
            margin-right: 5px;
            min-height: 500px;
            max-width: 300px;
            min-width: 270px;
            display: flex;
            align-items: center;
            overflow: hidden;
            justify-content: space-around;
            width: 100%;
            flex-wrap: wrap;
            box-shadow: inset 3px 3px 20px #bbb1b1,
                        inset -3px -3px 20px #bbb1b1;
        }
    &__item-title{
        flex: 0 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 5px;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }
}

.item-title{
    //.item-title__main-price{}
    &__main-price{
        & > div > p {
            font-size: 16px;
            font-weight: 700;
        }
    }
    //.item-title__badge{}
    &__badge{
        position: absolute;
        z-index: 5;
        top: 0;
        max-width: 220px;
    }  
    &__text{
        position: relative;
        // font-size: 1em;
        left: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: #fff;
        &>h1{
          color: #fff;
          @include adaptiv-font(15,30);
        }
        //.item-title__text-title{}
        &-title{
            font-size: 14px;
            color: #000;
            text-align: center;
            text-transform: uppercase;
        }
    }
    
    &__image{
        position: relative;
        height: 100%;
        margin: 0;
        overflow: hidden;
        width: auto;
    }
    &-body{
        display: flex;
    }
}

.body-collectiion{
    display: flex;

    &__goods{}
    &__condition{
        padding: 15px;
    }
    &__size{}
    &__control{
      margin-top: 20px;
    }
    &__btn-apply{
        width: 90%;
        height: 70px;
        background-color: #000000;
        color:rgb(255, 255, 255);
        margin: 15px;
        @include adaptive-font(12,20);
        cursor: pointer;
        transform-style: preserve-3d;
        transition: all 1000ms ease; 
        overflow: hidden;
        position: relative;
        &-active{
          width: 90%;
          height: 70px;
          color:rgb(255, 255, 255);
          margin: 15px;
          @include adaptiv-font(12,20);
          cursor: pointer;
          transform-style: preserve-3d;
          transition: all 1000ms ease; 
          overflow: hidden;
          position: relative;
          // &:after{
          //   background-color: rgba(7, 136, 12,.8);
          //   opacity: 1;
          //   position: absolute;
          //   left: 0;
          //   top: 0;
          //   content:"";
          //   width: 100%;
          //   height: 100%;
          // }
        }
        &:after{
          top: 0%;
          left: -100%;
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgba(rgb(243, 156, 156),.5);
          content:'';
          transition: left 1s ease-in;
        }        

        &:before{
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          content: 'Добавить в корзину  ';
          z-index: 9999;
          box-shadow: 5px 5px 5px #000;
        }
        &:hover{
          // background-color:$a2;
          // background: rgba(rgb(4, 4, 4),.6);
          color: #000;
          // box-shadow: 5px 5px 5px #000;
          &:after{
            left: 0;
          }
          // transform-origin: center bottom;
        	// transform: rotateX(-90deg) translateY(100%);
          // transition: all 1s ease-in;
        }
        &--disable{
          background-color: rgb(104, 104, 104);
          width: 90%;
          height: 70px;
          color:rgb(255, 255, 255);
          margin: 15px;
          @include adaptiv-font(15,30);
          cursor: not-allowed;
        }
    }
}


.prodpage{
  &-sizes {
    &__size-buttonPopupe {
      min-width: 50px;
      min-height: 35px;
      color: rgb(0, 0, 0);
      font-weight: bold;
      padding: 0 20px;
      border: 2px solid $g;
      box-sizing: border-box;
      // background-color: $pi3;
      border: 2px solid $p;
      box-sizing: border-box;
      border-radius: 2px;
      pointer-events: none;
     &:disabled {
        background-color: rgba(0, 0, 0, 1);
        color: rgb(255, 255, 255);
        pointer-events: none;
        cursor: not-allowed;
      }
      &:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
      }
    }

    &__items {
      @include ul;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      &-modal {
        padding-top: 54px;
      }
      
    }
     &__itemPopupe {
      margin-right: 10px;
      margin-bottom: 10px;
      background-color: $w;     
      &:last-child {
        margin-right: 0;
      }
    }
    &__remainder {
      display: flex;
      justify-content: start;
      align-items: center;
      width: fit-content;
      height: 18px;
      padding: 0 8px;
      border-radius: 10px;
      font-size: 12px;
      line-height: 140%;
      color: $rd;
      background: $g;
      border-radius: 16px;
      &-btn {
        
        margin-right: 6px;
        margin-top: -6px;
        &::part(base) {
          width: 20px;
        }
      }
      
    }   
    &__btn {
        &::part(base) {
          color: $p;
          font-size: 12px;
          padding: 0 8px;
          letter-spacing: 0.4px;
        }
        &::part(label) {
          border-bottom: 1px dashed #282534;
          margin-bottom: 10px;
        }
      }

  }
}

