@import "../../styles/variables/index.scss";

.main-news {
    padding: 60px 0 96px 0;
    @include padding-for-mobile;
    @include laptop-sm {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    &__title {
        text-align: left;
        margin-bottom: 20px;
        letter-spacing: 0.04em;
        margin-bottom: 25px;        
    }
    
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        margin-bottom: 90px;
        @include tablet-lg {
            grid-template-columns: repeat(1, 1fr);
            margin-bottom: 40px;
        }
    }
}
