@import '../../../styles/variables/index.scss';
@import '../../../styles/fonts/index.scss';
.back {
    width: 100%;
  min-height: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  @include laptop-sm {
    padding-left: 15px;
  }
  &::after {
    content: '';
    height: 1px;
    border-bottom: 2px solid var(--gx-color-gray);
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 28px;
  }
  &__link {
    // font-family: Noto Sans;
    @extend %font;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.04em;
    margin-right: 7px;
    color: var(--gx-color-blue);
    @include mobile {
      padding-right: 10px;
    }
  }
  &__arrow {
    margin-right: 7px;
    color: var(--gx-color-blue);
  }
}