@import '../../../styles/fonts/index.scss';
@import '../../../styles/variables/index.scss';
.live_photos {
  &-text {
    // font-family: Noto Sans;
    @extend %font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 60px;
    color: #282534;
    @include padding-for-mobile;
  }
  &-details-text {
    // font-family: Noto Sans;
    @extend %font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 20px;
    color: #282534;
    @include padding-for-mobile;
  }
}
