@import '../../styles/fonts/index.scss';
@import '../../styles/variables/index.scss';

.largeCustomLabel {
  --gx-input-height-medium: 56px;
  --gx-input-border-width: 2px;
  --gx-input-border-color: var(--gx-color-lightpink);
  &::part(label) {
    color: var(--gx-color-primary);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.04em;
  }
  &::part(input) {
    @extend %font;
    font-size: 14px;
    height: 54px;

    &::placeholder {
      color: $dg2;
      opacity: 1; 
    }
  }
}

.select-theme__black {
  --gx-input-height-medium: 44px;
  --gx-input-border-width: 2px;
  --gx-input-border-color: var(--gx-color-darkgray);
  margin-top: 25px;
  &-full {
    --gx-input-border-radius-medium: 2px;
    --gx-color-primary-95: var(--gx-color-black);
    --gx-color-primary-50: var(--gx-color-white);
    --gx-input-border-color: var(--gx-color-black);
    --gx-input-height-medium: 44px;
    --gx-spacing-x-small: 5px;
    --gx-input-border-width: 2px;
    &::part(label) {
      color: var(--gx-color-primary);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }
    &::part(input) {
      @extend %font;
      max-width: 239px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 120%;
      letter-spacing: 0.02em;
      &::placeholder {
        color: $dg2;
        opacity: 1;
      }
    }
  }
  &::part(label) {
    color: var(--gx-color-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }
  &::part(input) {
    @extend %font;
    height: 40px;
    font-size: 14px;

    &::placeholder {
      color: $dg2;
      opacity: 1;
    }
  }
  & gx-menu-item {
    font-size: 14px;
    color: var(--gx-color-primary);
    &::part(base) {
      padding: 4px 10px;
      &:hover {
        color: var(--gx-color-primary);
        background-color: var(--gx-color-gray);
      }
    }
    &::part(checked-icon) {
      display: none;
    }
    &::part(label) {
      font-size: 14px;
    }
  }
}

.select {
  &-mb_30 {
    margin-bottom: 30px;
  }
  &-default {
    --gx-input-height-medium: 44px;
    border-radius: 2px;

    &::part(label) {
      font-size: 12px;
      opacity: 0.75;
      line-height: 100%;
    }
    &::part(base) {
      border-width: 2px;
      border-radius: 2px;
      box-sizing: border-box;
      opacity: 1;
      height: 44px;
    }
    &::part(input) {
      height: auto;
    }
  }
  &-feedback {
    --gx-input-height-medium: 44px;
    --gx-input-border-color: var(--gx-color-darkgray2);
    --gx-input-border-width: 2px;
    --gx-input-height-medium: 58px;
    border-radius: 6px;
    margin-bottom: 15px;
    &::part(label) {
      font-size: 12px;
      opacity: 0.75;
      line-height: 100%;
    }
    &::part(base) {
      border-width: 2px;
      border-radius: 2px;
      box-sizing: border-box;
      opacity: 1;
    }
    &::part(input) {
      height: auto;
    }
  }
}

.black {
  &-mb_30 {
    margin-bottom: 30px;
  }
  &-default {
    --gx-input-height-medium: 44px;
    --gx-input-border-radius-medium: 2px;
    --gx-input-border-width: 2px;
    --gx-input-border-color: var(--gx-color-black);
    @include mobile() {
      margin-bottom: 10px;
    }
    &::part(label) {
      font-size: 12px;
      opacity: 0.75;
      line-height: 100%;
    }
    &::part(menu) {
      max-width: 240px;
      border-radius: 2px;
    }
    &::part(base-input) {
      border-width: 2px;
      // border-bottom: 1px solid var(--gx-color-black);
      border: 2px solid var(--gx-color-black);
      border-bottom-width: 0px;
      box-sizing: border-box;
      opacity: 1;
      height: 44px;
      max-width: 240px;
      margin-right: 20px;
      @include tablet-lg {
        border-bottom-width: 2px;
      }
    }

    &::part(base-panel) {
      max-height: 35vh;
    }

    &::part(input) {
      height: auto;
      @extend %cab-h2;
    }
    &::part(icon) {
      color: var(--gx-color-black);
    }
    & gx-menu-item {
      font-size: 14px;
      color: var(--gx-color-primary);
      &::part(base) {
        padding: 4px 10px;
        @extend %cab-h2;
        &:hover {
          color: var(--gx-color-white);
          background-color: var(--gx-color-black);
        }
      }
      &::part(checked-icon) {
        display: none;
      }
      &::part(label) {
        font-size: 14px;
      }
    }
  }
}


.old-order {
  padding-bottom: 25px;
  gx-menu-item {
    // background-color: rgb(233, 194, 204);
    &::part(base) {
      padding: 4px 10px;
      @extend %cab-h2;
      &:hover {
        color: var(--gx-color-accent2);
        // background-color: rgb(230, 145, 164);
      }
    }
    &::part(checked-icon) {
        display: none;
      }
      &::part(label) {
        font-size: 14px;
      }
    }
    scrollbar-color: #ffa6b0 #fcd2d7;     /* «цвет ползунка» «цвет полосы скроллбара» */
    // scrollbar-width: auto | thin | none;  /* толщина */
    ::-webkit-scrollbar {
      height: 12px;
      width: 12px;
      background: #ffa6b0 #fcd2d7; 
  }
  
  ::-webkit-scrollbar-thumb {
      background:  #ffa6b0 #fcd2d7; 
      -webkit-border-radius: 1ex;
      -webkit-box-shadow: 0px 1px 2px rgba(213, 127, 206, 0.75);
  }
  
  ::-webkit-scrollbar-corner {
      background:  #ffa6b0 #fcd2d7; 
  }
  ::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background:#ffa6b0;
    border: 1px solid#ffa6b0;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #ffa6b0;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #ffa6b0;
  }
  ::-webkit-scrollbar-track {
    background: #ffa6b0;
    border: 0px none #ffffff;
    border-radius: 53px;
  }
  ::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  ::-webkit-scrollbar-track:active {
    background: #333333;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
}


    