.breadcrumbs {
  @extend %text-small;
  color: $p2;
  @include flex(lt);
  flex-wrap: wrap;
  border-bottom: 2px solid #F3EFF3;
  margin-bottom: 30px;

  &-sep {
    margin: 0 3px 5px;
    display: block;
  }
  &-link {
    color: $p2;
    margin-bottom: 5px;
    display: block;
  }
}
