.information-howto {
  max-width: 924px;
  margin: 0 auto 60px;
  &__wrapper {
    @include flex('st');
    margin-bottom: 30px;
  }
  &__desc {
    &-small {
      font-weight: bold;
      font-size: 12px;
      line-height: 17px;
      letter-spacing: 0.04em;
      color: $dg2;
      margin-bottom: 60px;
      &::before {
        content: ('* ');
        color: $p;
      }
    }
  }

  &__sex {
    margin-left: 30px;
  }
  &__heading {
    @extend %cab-h1;
    margin-bottom: 20px;
  }
  &__link {
    display: block;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: $p;
  }
  &__switcher {
    padding-bottom: 20px;
    &-heading {
      width: 50%;
      @extend %cab-h3;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $g;
      padding-bottom: 10px;
      &.active {
        border-bottom: 1px solid $p;
      }
    }
  }
}
// @media screen and (max-width: 1024px)
@include tablet-lg {
  .information-howto {
    @include padding-for-mobile;
  }
}


@include mobile-lg {
  .information-howto {
    &__wrapper {
      flex-direction: column-reverse;
    }
    &__sex {
      margin-left: 0;
      width: 100%;
    }
    &__image {
      height: 250px;
      margin-left: 0;
    }
  }
}