.wrapper {
  position: relative;
  font-style: normal;
  display: flex;
  flex-direction: column;
  max-width: 445px;

  &__btn {
    margin-bottom: 40px;
    height: auto;
    &__icon {

      &-left {
        --icon-width: 20px;
        --icon-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-right: 25px;
        margin-left: 10px;
        color: var(--gx-color-accent2);
        position: relative;
        &::before {
          content: '';
          width: 30px;
          height: 30px;
          position: absolute;
          transform: rotate(45deg);
          border: 2px solid var(--gx-color-accent2);
          box-sizing: border-box;
          border-radius: 2px;
        }
      }
      &-right {
        visibility: hidden;
        --icon-width: 15px;
        --icon-height: 15px;
      }
    }
    &__group-label {
      position: relative;
      // max-width: 85%;
      white-space:normal;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      align-items: center;
      align-content: center;
    }
    &__label {
      color: var(--gx-color-primary);
      line-height: 25px;
    }
    &__help-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: var(--gx-color-darkgray2);
      line-height: 18px;
      text-align: left;
      max-width: 450px;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
    }
    &:hover {
      .wrapper__btn__icon-left {
        // color: var(--gx-color-white);
        &::before {
          content: '';
          width: 30px;
          height: 30px;
          position: absolute;
          transform: rotate(45deg);
          background: var(--gx-color-accent2);
          border: 2px solid var(--gx-color-accent2);
          box-sizing: border-box;
          border-radius: 2px;
        }
      }
      .wrapper__btn__icon-right {
        visibility: visible;
      }
      .wrapper__btn__icon-left__icon {
        color: var(--gx-color-white);
      }
    }
  }
}
.wrapper {
  &__link-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    align-content: space-between;
  }
}
