.information-delivery {
  &__wrapper {

    &-desc {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 20px;
      margin-bottom: 0;
    }

    &-desc.small {
      @extend %text-small;
      color: $dg2;
    }

    &-important {
      background-color: $g;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 20px;
      margin-right: 20px;
      @include flex('lc');

      &::before {
        content: url('../../../images/icon/toolTipIcon.svg');
        margin-right: 12px;
      }

      &-text {
        @extend %cab-h4;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .information-exchange {
    @include padding-for-mobile;
  }
}
