@import '../../../styles/variables/index.scss';
@import '../../../styles/fonts/index.scss';
.wrapper {
  padding: 0 15px;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
  word-wrap: break-word;
  z-index: 0;
  @include mobile {
    padding: 0;
    // flex-direction: row-reverse;
    justify-content: center;
  }
  &__images {
    display: flex;
    &-wrapper {
      min-width: 110px;
      // max-height: 566px;
      height: 100%;
      @include mobile {
        // min-width: 50px;
        // margin-left: 5px;
        display: none;
      }
    }
  }
  &-swiper__gallery {
    max-width: 566px;
    @include mobile {
      max-width: 100%;
    }
    &--image {
      background-color: var(--gx-color-primary);
      object-fit: cover;
    }
    .swiper-slide {
      max-width: 566px;
    }
    :global {
      .swiper-slide {
        max-height: 700px;
        min-height: 700px;
        @include tablet-lg {
          min-height: 300px;
        }
        max-width: 100%;
        height: auto !important;
      }
    }
    &--vertical {
      margin-right: 15px;
      // margin-top: 55px;
      margin-top: 69px;
      /* max-width: 115px; */
      // height: 100%;
      // max-height: 640px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      overflow: hidden;
      height: calc(100% - 145px);
      @include mobile {
        display: none;
        margin-right: 0;
        height: 100%;
        margin-top: 0;
      }
      @include laptop-old {
        max-height: 566px;
      }
      :global {
        .swiper-slide {
          height: auto !important;
          margin-top: 10px;
          max-width: 105px;
          max-height: 110px;
          height: 90%;
          overflow: hidden;
          display: flex;
          justify-content: center;
          margin-bottom: 10px;
          align-items: center;
          &-active {
            height: auto;
            border: 3px solid var(--gx-color-primary);
          }
        }
        .swiper-button-prev::after,
        .swiper-button-next::after {
          position: relative;
          // font-family: 'Noto Sans';
          @extend %font;
          box-shadow: none;
          font-size: 15px;
          content: '';
          width: 100%;
          height: 100%;
          display: block;
          background-image: url('../../../images/icon/activeArrowSlider.svg');
          background-repeat: no-repeat;
          background-size: 15px;
          background-position: center;
        }
        .swiper-button-prev {
          // right: 0px;
          // left: 0px;
          // position: relative;
          // margin-top: 0;
          // background-color: transparent;
          // box-shadow: none;
          // transform: rotate(0deg);

          // right: 0px;
          // left: 35px;
          // top: 0px;
          // position: absolute;
          // @include

          /* right: 0px; */
          /* left: 0px; */
          // position: relative;
          margin-top: 0;
          background-color: transparent;
          box-shadow: none;
          -webkit-transform: rotate(0deg) translateX(50%);
          transform: rotate(0deg) translateX(50%);
          /* right: 0px; */
          left: 7px;
          top: 0px;
          position: absolute;
          // margin-left: 8px;

          /* right: 112%; */
          /* transform: translateX(50%);*/

          &::after {
            transform: rotate(180deg);
            // height: 82%;
          }
        }
        .swiper-button-next {
          right: 0px;
          left: 0px;
          margin-top: 0;
          position: relative;
          background-color: transparent;
          box-shadow: none;
          transform: rotate(0deg);

          position: absolute;
          top: 655px;
          left: 7px;

          &::after {
            transform: rotate(0deg) translateX(50%);
          }
        }
      }
    }
  }
  &-swiper__thumbs {
    width: 140px;
    .swaper-wrapper {
      flex-direction: column;
    }
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: contain;//cover
}
