.live_photos {
  &__wrapper {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 8px;
      @include padding-for-mobile;
      @include mobile {
        grid-template-columns: repeat(3, 1fr);
      }
      @include mobile-lg {
        grid-template-columns: repeat(2, 1fr);
      }
  }
  &__card {
      max-width: 274px;
      width: 100%;
      max-height: 274px;
      min-height: 274px;
      background-color: $g;
  }
  &__image {
      display: block;
      object-fit: contain;
      height: 100%;
  }
}
